<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.JetpackComposeProject"
        tools:targetApi="31">
        <activity
            android:name=".apps_list2.unscramble_initial.UnscrambleInitialActivity"
            android:exported="true"
            android:label="@string/title_activity_unscramble_initial"
            android:theme="@style/Theme.JetpackComposeProject" >
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>

        <activity
            android:name=".apps_list2.dessert_clicker_initial.DessertClickerInitialActivity"
            android:exported="false"
            android:label="@string/title_activity_dessert_clicker_initial"
            android:theme="@style/Theme.JetpackComposeProject" />
        <activity
            android:name=".apps_list1.super_heroes.HeroesScreen"
            android:exported="false"
            android:label="@string/title_activity_superheroes"
            android:theme="@style/Theme.JetpackComposeProject" />
        <activity
            android:name=".apps_list1.woof.WoofActivity"
            android:exported="false"
            android:label="@string/title_activity_woof"
            android:theme="@style/Theme.JetpackComposeProject" />
        <activity
            android:name=".apps_list1.courses.CoursesActivity"
            android:exported="false"
            android:label="@string/title_activity_courses"
            android:theme="@style/Theme.JetpackComposeProject" />
        <activity
            android:name=".apps_list1.affirmations_initial_app.AffirmationsActivity"
            android:exported="true"
            android:label="@string/title_activity_affirmations"
            android:theme="@style/Theme.JetpackComposeProject">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".apps_list1.art_space_app.ArtSpaceAppActivity"
            android:exported="true"
            android:label="@string/title_activity_art_space_app"
            android:theme="@style/Theme.JetpackComposeProject">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".apps_list1.tip_time_final.TipTimeFinalActivity"
            android:exported="true"
            android:label="@string/title_activity_tip_time_final"
            android:theme="@style/Theme.JetpackComposeProject">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".apps_list1.tip_time_starter.TipTimeInitialActivity"
            android:exported="true"
            android:label="@string/title_activity_tip_time_initial"
            android:theme="@style/Theme.JetpackComposeProject">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".apps_list1.lemonade_app.LemonadeActivity"
            android:exported="true"
            android:label="@string/title_activity_lemonade"
            android:theme="@style/Theme.JetpackComposeProject">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".apps_list1.dice_roller_app.DiceRollerActivity"
            android:exported="false"
            android:label="@string/title_activity_dice_roller"
            android:theme="@style/Theme.JetpackComposeProject">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".apps_list1.business_card.BusinessCardActivity"
            android:exported="false"
            android:label="@string/title_activity_business_card"
            android:theme="@style/Theme.JetpackComposeProject" />
        <activity
            android:name=".apps_list1.compose_quadrant.ComposeQuadrantActivity"
            android:exported="false"
            android:label="@string/title_activity_compose_quadrant"
            android:theme="@style/Theme.JetpackComposeProject" />
        <activity
            android:name=".apps_list1.task_manager.TaskManagerActivity"
            android:exported="false"
            android:label="@string/title_activity_task_completed"
            android:theme="@style/Theme.JetpackComposeProject" />
        <activity
            android:name=".apps_list1.compose_article.ComposeArticleActivity"
            android:exported="false"
            android:label="@string/title_activity_jetpack_compose_tutorial"
            android:theme="@style/Theme.JetpackComposeProject" />
        <activity
            android:name=".apps_list1.birthday_card.BirthdayCardActivity"
            android:exported="false"
            android:label="@string/title_activity_birthday_card"
            android:theme="@style/Theme.JetpackComposeProject">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.JetpackComposeProject">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>